.attribution { font-size: 11px; text-align: center; padding: 0;}
.attribution a { color: hsl(228, 45%, 44%); }
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

$blue-card2:hsl(217, 19%, 35%);
$blue-card4:hsl(219, 29%, 14%);
$neutral-blue:hsl(210, 46%, 95%);
$neutral-gray:hsl(0, 0%, 81%);
$violet-card1:hsl(263, 55%, 52%);
$white:hsl(0, 0%, 100%);

body{
    background-color: $neutral-blue;
    margin: .5rem;
}
main{
    margin: 0 auto;
    max-width: 1400px;
}
div{
    padding: 1rem;
}
.card1, .card2, .card3, .card4, .card5{
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    border-radius: 1rem;
    margin: 1rem;
}
.card1 p:nth-child(1),
 .card2 p:nth-child(1), 
 .card3 p:nth-child(1), 
 .card4 p:nth-child(1), 
 .card5 p:nth-child(1){
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 1rem;
}
.card1 p:nth-child(2),
.card2 p:nth-child(2),
.card3 p:nth-child(2),
.card4 p:nth-child(2),
.card5 p:nth-child(2){
    font-size: 15px;
    font-weight: 500;
    opacity: 70%;
}
img{
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.card1 div:nth-child(1),
 .card2 div:nth-child(1), 
 .card3 div:nth-child(1), 
 .card4 div:nth-child(1), 
 .card5 div:nth-child(1){
    align-items: center;
    display: grid;
    grid-template-columns: 56px 70%;
}

.card1,
.card2,
.card4{
    color: $white;
}
.card1{
    background-color: $violet-card1;
}
.card2{
    background-color: $blue-card2;
}
.card3{
    background-color: $white;
}
.card4{
    background-color: $blue-card4;
}
.card5{
    background-color: $white;
}

@media screen and (min-width:790px) {
    main{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        .card1{
            grid-column: 1/3;
        }
        .card2{
            grid-column: 3/4;
        }
        .card3{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .card4{
            grid-column: 2/4;
            grid-row: 2/3;
        }
        .card5{
            grid-column: 4/-1;
            grid-row: 1/3;
        }

    }
}